* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: var(--background-color);
  font-family: noto-sans;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

/* example color: var(--text-color) */

:root {
  --text-color: #2a2421;
  --background-color: #f7fdff;
  --primary-color: #9d85ae;
  --secondary-color: #6f7590;
  --accent-color: #9e5278;
}

@font-face {
  font-family: "noto-sans";
  src: url("./fonts/NotoSansMalayalam-VariableFont_wdth\,wght.ttf");
}
