.mainContent h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.mainContent span {
  font-weight: bold;
  margin-right: 4px;
}
.home p {
  text-align: center;
  margin-top: 10px;
}

.mainContent img {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: block;
  width: 600px;
}

.home a {
  padding: 10px;
  background-color: plum;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 700px;
}

/* gallery mention section */
.galleryMention {
  margin-top: 40px;
  padding: 30px;
  width: 100%;
  /* height: 500px; */
  background-image: linear-gradient(
      rgba(158, 82, 120, 0.925),
      rgba(158, 82, 120, 0.596)
    ),
    url(/lilac3.jpg);
}

.toGallery button {
  height: 50px;
  width: 150px;
  border-radius: 10px;
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
}

.toGallery p {
  text-align: left;
  color: var(--background-color);
}

.toGallery h2 {
  color: var(--background-color);
}


.guideContainer {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 40px;
}

.header {
  font-size: 25px;
}

.guideDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.caring {
  height: 150px;
  width: 350px;
  background-color: var(--accent-color);

  display: flex;
  align-items: center;
  justify-content: center;
  
  color: white;
  font-size: 18px;
}
.caring:hover {
  border: 8px solid var(--secondary-color);
}

.txt {
  margin-top: 13px;
}

.problems {
  height: 150px;
  width: 350px;
  background-color: var(--accent-color);

  display: flex;
  align-items: center;
  justify-content: center;
  
  color: white;
  font-size: 18px;
}
.problems:hover {
  border: 8px solid var(--secondary-color);
}

.route {
  text-decoration: none;
  color: white;
}
