.header {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}

.txt {
    font-size: 18px;
    width: 900px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
}

.route {
    text-decoration: none;
    color: white;
}

.btn {
    height: 50px;
    width: 110px;

    font-size: 15px;
    color: white;

    border-radius: 20px;
    border: none;
    background-color: var(--secondary-color);

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
}

.btn:hover {
    background-color: var(--accent-color);
}