.mainNav {
  height: 65px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainNav li {
  list-style: none;
}

.mainNav li a {
  text-decoration: none;
  color: var(--background-color);
  font-size: 25px;
}
